.firstWord {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.secondWord {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.site-header{
  background-color: ghostwhite;
  margin-bottom: 100px;
}

tr.credito td {
  background-color: #d4edda !important; /* verde claro */
}

tr.debito td {
  background-color: #f8d7da !important; /* vermelho claro */
}
